@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&family=JetBrains+Mono:wght@400;500;700&display=swap');
@import "tailwindcss";

@theme {
  --font-sans: "Inter", ui-sans-serif, system-ui, -apple-system, sans-serif;
  --font-mono: "JetBrains Mono", ui-monospace, monospace;
  
  --color-brand-bg: #050505;
  --color-panel-bg: #0A0A0A;
  --color-card-bg: #0E0E10;
  --color-border-dark: #1F1F1F;
}

/* Custom Scrollbar styled for sleek medical-IoT dashboards */
.custom-scrollbar::-webkit-scrollbar {
  width: 4px;
  height: 4px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: #050505;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background: #1f1f1f;
  border-radius: 2px;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: #22d3ee;
}

